@model Question
@using Our.Community.Polls.Controllers
@using Our.Community.Polls.Interfaces
@using Our.Community.Polls.Models
@using System.Globalization
@using Umbraco.Cms.Web.Common
@using Umbraco.Extensions
@inject UmbracoHelper umbracoHelper
@{
    var question = Model;
    bool allowVote = true;
    bool expired = false;
    if (TempData["Question"] != null) // Check if user has just voted
    {
        question = (Question)TempData["Question"]!;
        allowVote = false;
    }
    if (Context.Request.Cookies.ContainsKey("Poll_" + question.Id)) // Check if user has previously voted
    {
        allowVote = false;
    }
    if (question.EndDate.HasValue && DateTime.UtcNow > question.EndDate)
    {
        expired = true;
        allowVote = false;
    }
}

@if (question.StartDate != null && DateTime.UtcNow < question.StartDate)
{
    <!-- Don't do anything, the Poll isn't active yet -->
}
else
{
    <div class="card featurepoll" id="poll_@question.Id">
        <div class="card-header">
            @umbracoHelper.GetDictionaryValueOrDefault(question.Name, CultureInfo.CurrentCulture, question.Name)
        </div>
        @using (Html.BeginUmbracoForm<PollSurfaceController>("Poll"))
        {
            @Html.Hidden("questionId", question.Id,null)
            <ul class="list-group list-group-flush">

                @foreach (var answer in question.Answers.OrderBy(a=>a.Index))
                {
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                @if (allowVote)
                                {
                                    @Html.RadioButton("answerId", answer.Id, false, new{group="respond"})
                                }
                                @umbracoHelper.GetDictionaryValueOrDefault(answer.Value, CultureInfo.CurrentCulture, answer.Value)
                            </label>
                            @if (question.Responses != null && !allowVote)
                            {
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Response percentages" style="width: @answer.Percentage%;" aria-valuenow="@answer.Percentage" aria-valuemin="0" aria-valuemax="100">@answer.Percentage%</div>
                                </div>
                            }
                        </div>
                    </li>
                }
                
            </ul>
            @if (allowVote)
            {
                <div class="card-footer" >
                    <button type="submit" class="btn btn-primary">@umbracoHelper.GetDictionaryValueOrDefault("VoteBtn", CultureInfo.CurrentCulture, "Vote Now!")</button>
                    @Html.ValidationSummary()
                </div>
            }
            else
            {
                <div class="card-footer">
                    @if (expired)
                    {
                        <label>@umbracoHelper.GetDictionaryValueOrDefault("VotingClosed", CultureInfo.CurrentCulture, "Voting closed")</label>
                    }
                    else
                    {
                        <label>@umbracoHelper.GetDictionaryValueOrDefault("ThankYou", CultureInfo.CurrentCulture, "Thank you for voting")</label>
                    }
                    
                </div>
            }
        }
    </div>
}

